body{
    overflow-x: hidden;
    background-color: #ccc;
    min-height: 100vh;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

#text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4em;
    color: #ddd;
}

#mountain-img{
    height: 50%;
    width: auto;
}


#mountain2-img{
    height: 50%;
}

#fog{
    height: 80%;
}

#sun
{
    height: 150px;
    width: auto; 
    top: 50%;
    left: 26%;
    transform: translateY(-60%);
}

#bird{
    height: 50%;
    width: auto;
    top: 25%;
}

#cloud{
    height: 200px;
    width: auto; 
    top: 60%;
    left: 20%;
    transform: translateY(-60%);
}

