.card-img{
  height: 150px;
  object-fit: contain;
  
}


.popular-starter{
  padding: 10px 16px;
}

.gradient-overlay {
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

#menu{
  padding:10px;
  margin-top: 10px;
  min-height: 500px;
}



@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}