<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style_trangchu.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <title>Details</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light nav1">
        <div class="container">
            <a href="#" class="navbar-brand">
                <img src="images/logo.png" alt="logo" style="width: 200px;">
            </a>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li>
                        <a href="#" class="nav-link">
                            <img 
                                src="images/hotline.png" alt="hotline"
                                style="width: 15px; padding-bottom: 5px;"
                            >
                            1900 1000
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <img 
                                src="images/search.png" alt="search"
                                style="width: 15px; padding-bottom: 2px;"
                            >
                            Tìm kiếm
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <img 
                                src="images/user.png" alt="user"
                                style="width: 18px; padding-bottom: 2px;" 
                            >
                            Đăng nhập
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <img 
                                src="images/register.png" alt="register"
                                style="width: 15px; padding-bottom: 2px;"
                            >
                            Đăng ký
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <img 
                                src="images/cart.png" alt="cart"
                                style="width: 15px; padding-bottom: 4px;"
                            >
                            Giỏ hàng
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark nav2" style="height: 45px">
        <div class="container">
                <div class="navbar-collapse">
                    <ul class="navbar-nav">
                        <li>
                            <a href="#" class="nav-link">TRANG CHỦ</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">GIỚI THIỆU</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">SẢN PHẨM</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">BẢN ĐỒ</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">LIÊN HỆ</a>
                        </li>
                    </ul>
                </div>
        </div>
    </nav>
    <div class="row">
            <img src="images/ads_panel.jpg" alt="advertisement">   
    </div>
    <section class="bg-light text-dark" style="padding-top: 5px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <span style="padding-left: 15px;">DANH MỤC SẢN PHẨM</span>
                            <div class="list-group mt-1">
                                <a href="#" class="list-group-item">Sản phẩm 1</a>
                                <a href="#" class="list-group-item">Sản phẩm 2</a>
                                <a href="#" class="list-group-item">Sản phẩm 3</a>
                                <a href="#" class="list-group-item">Sản phẩm 4</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 hide-on-mobile mt-3">
                            <span style="padding-left: 15px;">SẢN PHẨM NỔI BẬT</span>
                            <div class="card mt-1" style="padding-left: 8px;">
                                    <div class="row">
                                        <div class="col-md-5 mt-2 mb-2">
                                            <img src="images/book1.jpg" alt="book1" href="#" width="90%">
                                        </div>
                                        <div class="col-md-7 mt-3">
                                            <div class="row">
                                                <h5 class="card-title">Harry Potter</h5>
                                            </div>
                                            <div class="row mt-2">
                                                <h6 class="card-subtitle text-muted">190.000đ</h6>
                                            </div>
                                            <div class="btn btn-outline-secondary mt-3">Mua ngay</div>
                                        </div>
                                    </div>
                            </div>
                            <div class="card mt-1" style="padding-left: 8px;">
                                <div class="row">
                                    <div class="col-md-5 mt-2 mb-2">
                                        <img src="images/book1.jpg" alt="book1" href="#" width="90%">
                                    </div>
                                    <div class="col-md-7 mt-3">
                                        <div class="row">
                                            <h5 class="card-title">Harry Potter</h5>
                                        </div>
                                        <div class="row mt-2">
                                            <h6 class="card-subtitle text-muted">190.000đ</h6>
                                        </div>
                                        <div class="btn btn-outline-secondary mt-3">Mua ngay</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mt-1" style="padding-left: 8px;">
                                <div class="row">
                                    <div class="col-md-5 mt-2 mb-2">
                                        <img src="images/book1.jpg" alt="book1" href="#" width="90%">
                                    </div>
                                    <div class="col-md-7 mt-3">
                                        <div class="row">
                                            <h5 class="card-title">Harry Potter</h5>
                                        </div>
                                        <div class="row mt-2">
                                            <h6 class="card-subtitle text-muted">190.000đ</h6>
                                        </div>
                                        <div class="btn btn-outline-secondary mt-3">Mua ngay</div>
                                    </div>
                                </div>
                            </div>                    
                            <div class="card mt-1" style="padding-left: 8px;">
                                <div class="row">
                                    <div class="col-md-5 mt-2 mb-2">
                                        <img src="images/book1.jpg" alt="book1" href="#" width="90%">
                                    </div>
                                    <div class="col-md-7 mt-3">
                                        <div class="row">
                                            <h5 class="card-title">Harry Potter</h5>
                                        </div>
                                        <div class="row mt-2">
                                            <h6 class="card-subtitle text-muted">190.000đ</h6>
                                        </div>
                                        <div class="btn btn-outline-secondary mt-3">Mua ngay</div>
                                    </div>
                                </div>
                            </div>    
                        </div>                
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <nav style="margin-top: 10px;">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                                  <li class="breadcrumb-item"><a href="#">Category</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">Book</li>
                                </ol>
                              </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <img
                                  src="images/book1.jpg"
                                  class="card-img-top"
                                  alt="Item"
                                >
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-3">
                                    <img
                                    src="images/book1.jpg"
                                    class="card-img-top"
                                    alt="Item"
                                    >
                                </div>
                                <div class="col-sm-3">
                                    <img
                                    src="images/book1.jpg"
                                    class="card-img-top"
                                    alt="Item"
                                    >
                                </div>
                                <div class="col-sm-3">
                                    <img
                                    src="images/book1.jpg"
                                    class="card-img-top"
                                    alt="Item"
                                    >
                                </div>
                                <div class="col-sm-3">
                                    <img
                                    src="images/book1.jpg"
                                    class="card-img-top"
                                    alt="Item"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card-body">
                                <h5 class="card-title">
                                Sách Mình Nói Gì Về Hạnh Phúc
                                </h5>
                                <h6 class="card-subtitle mt-2 mb-4 text-muted">
                                Giá: 190.000đ
                                </h6>
                                <p class="card-text" style="text-align: justify;">
                                    Được viết bởi giáo sư tâm lý học Sonja Lyubomirsky, cuốn sách 'Mình Nói Gì Về Hạnh Phúc' 
                                    cung cấp các lời khuyên cụ thể để giúp bạn tìm kiếm hạnh phúc và cải thiện chất lượng cuộc 
                                    sống của mình. Với những kỹ thuật đơn giản như tập trung vào điều tích cực, tập thể dục, 
                                    kết nối xã hội và đặt mục tiêu, đây là một cuốn sách hữu ích cho những ai muốn tìm kiếm hạnh
                                    phúc thực sự.
                                </p>
                                <button class="btn btn-outline-secondary">Mua ngay</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mt-3">
                            <h5>Desciption</h5>
                        </div>
                        <p class="card-text" style="text-align: justify;">
                            "Mình Nói Gì Về Hạnh Phúc" là một cuốn sách tâm lý học viết bởi tác giả Sonja Lyubomirsky, 
                            giáo sư tâm lý học tại Đại học California, Riverside. Cuốn sách này tập trung vào nghiên cứu 
                            và những lời khuyên cụ thể để giúp độc giả tìm kiếm hạnh phúc và cải thiện chất lượng cuộc 
                            sống của họ.

                            Tác giả giải thích về các yếu tố ảnh hưởng đến hạnh phúc của con người, bao gồm những di 
                            truyền, môi trường, tư duy và hành động của bản thân. Bên cạnh đó, tác giả cũng giới thiệu 
                            các kỹ thuật như tập trung vào điều tích cực, tập thể dục, kết nối xã hội và đặt mục tiêu để
                            giúp độc giả cải thiện sự hài lòng của mình và tìm kiếm hạnh phúc thực sự.

                            Với cách viết dễ hiểu, sâu sắc và thực tế, "Mình Nói Gì Về Hạnh Phúc" là một cuốn sách hữu 
                            ích cho những ai muốn cải thiện chất lượng cuộc sống của mình và tìm kiếm hạnh phúc.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="p-3 text-dark text-center mt-5" style="background-color: #e4d2ca;">
        <div class="container">
            <h5>Footer Information...</h5>
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link" href="#" style="color:black;">Link 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color:black;">Link 2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color:black;">Link 3</a>
              </li>
            </ul>
        </div>
    </footer>

</body>
</html>